@import "./fonts";
@import "./variables";
@import "./mixins";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
  font-family: $font-primary;
}

body {
  min-height: 100vh;
  background: $gradient-primary;
  position: relative;
}

.logo {
  padding: 30px;
  &__img {
    width: 100px;
  }
}

.main {
  display: flex;
  flex-direction: column-reverse;
  .hero {
    background-image: url(../images/hero-mobile.jpg);
    width: 100%;
    height: 250px;
    background-size: cover;
    background-repeat: no-repeat;
  }
  .content {
    padding: 0 30px;
    &__title {
      font-size: 2.6rem;
      text-transform: uppercase;
      letter-spacing: 0.6rem;
      color: $color-neutral-dark;
      padding: 65px 0 20px 0;
      text-align: center;
      span {
        font-weight: 300;
        color: $color-primary-desaturated;
      }
    }
    &__txt {
      font-size: 0.9rem;
      font-weight: 600;
      color: $color-primary-desaturated;
      line-height: 1.4;
      padding-bottom: 40px;
      text-align: center;
    }
    &__form {
      display: flex;
      align-items: center;
      position: relative;
      margin-bottom: 10px;
      .form-input {
        padding: 16px 24px;
        width: 100%;
        border: 1px solid $color-primary-desaturated;
        border-radius: 30px;
        font-family: $font-primary;
        font-weight: 600;
        background: transparent;
        &::placeholder {
          color: $color-primary-desaturated;
        }
      }
      .form-input-error {
        border: 2px solid $color-primary-soft;
      }
      .form-error-icon {
        position: absolute;
        right: 75px;
      }
      .form-submit-btn {
        height: 100%;
        min-width: 65px;
        background: $gradient-secondary;
        border: none;
        border-radius: 30px;
        position: absolute;
        top: 0;
        right: 0;
        box-shadow: 0 15px 20px rgba($color-primary-desaturated, 0.5);
        &:hover {
          background: hsl(0, 80%, 86%);
          cursor: pointer;
        }
      }
    }
    .form-error-msg {
      color: $color-primary-soft;
      font-size: 0.8rem;
      padding: 0 0 50px 26px;
    }
  }
}

@include desktop {
  .logo {
    position: absolute;
    left: calc((57vw - 455px) / 2);
    top: 65px;
    &__img {
      width: 160px;
    }
  }
  .main {
    flex-direction: row;
    justify-content: center;
    background-image: url(../images/bg-pattern-desktop.svg);
    background-repeat: no-repeat;
    background-size: contain;
    .hero {
      width: 43%;
      min-height: 100vh;
      background-image: url(../images/hero-desktop.jpg);
    }
    .content {
      width: 57%;
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: 200px;
        font-size: 4rem;
        text-align: left;
        max-width: 400px;
        line-height: 1.1;
      }
      &__txt {
        text-align: left;
        max-width: 400px;
        line-height: 1.8;
      }
      &__form {
        max-width: 420px;
        display: block;
        .form-input {
          padding: 22px 30px;
        }
        .form-error-icon {
          right: 105px;
        }
        .form-submit-btn {
          min-width: 95px;
        }
      }
    }
  }
}

.d-none {
  display: none;
}

.attribution {
  text-align: center;
  font-size: 0.7rem;
  padding: 20px;
  color: $color-primary-desaturated;
  a {
    color: $color-primary-desaturated;
  }
  a:hover {
    color: $color-neutral-dark;
  }
}
